# Iowa House Prices (EDA, Feature Engineering and Data Cleaning)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer

In [7]:
df_train = pd.read_csv('C:/Users/smhirech/Desktop/Datasets/iowa/train.csv', sep = ',')

In [8]:
df_train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [12]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## Missing values

### Existence of missing values

In [14]:
df_train.isnull().any().any()

True

There are missing values in our dataset. We will have to handle those missing values to have a complete dataset, which is in particular mandatory for feature engineering. <br>
Let us now find how many variables contain missing values.

In [74]:
df_na = pd.DataFrame(df_train.isnull().sum())
df_na.columns = ['var_na']

In [295]:
print("There are",len(df_na.loc[df_na['var_na'] != 0].index),"variables that contain missing values")

There are 19 variables that contain missing values

### Dropping variables with a considerable amount of NaN

Let us find the percentage of missing values in the whole dataset for these variables. It will be important to know this information since it will influence our way of proceeding with missing values.

In [296]:
imp_todealwith = df_na.loc[df_na['var_na'] != 0]*100/1459

In [297]:
imp_todealwith

                 var_na
LotFrontage   17.751885
Alley         93.831391
MasVnrType     0.548321
MasVnrArea     0.548321
BsmtQual       2.535984
BsmtCond       2.535984
BsmtExposure   2.604524
BsmtFinType1   2.535984
BsmtFinType2   2.604524
Electrical     0.068540
FireplaceQu   47.292666
GarageType     5.551748
GarageYrBlt    5.551748
GarageFinish   5.551748
GarageQual     5.551748
GarageCond     5.551748
PoolQC        99.588759
Fence         80.808773
MiscFeature   96.367375

Let us consider that more than 25% of missing values is "considerable". Let us drop these columns from our table and create a new version of our training set.

In [298]:
sup_na = (df_na.loc[df_na['var_na'] != 0]*100/1459 > 25)

In [299]:
na_drop = sup_na[sup_na['var_na'] == True]

In [300]:
na_drop.index

Index(['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature'], dtype='object')

So, we will drop the variables "Alley", "FireplaceQu", "PoolQC", "Fence" and "MiscFeature".

In [259]:
df_train_v1 = df_train.drop(na_drop.index, axis = 1)

In [260]:
df_train_v1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [263]:
imp_todealwith = imp_todealwith.drop(na_drop.index)

### Simple analysis of the variables with missing values

In [265]:
imp_todealwith

                 var_na
LotFrontage   17.751885
MasVnrType     0.548321
MasVnrArea     0.548321
BsmtQual       2.535984
BsmtCond       2.535984
BsmtExposure   2.604524
BsmtFinType1   2.535984
BsmtFinType2   2.604524
Electrical     0.068540
GarageType     5.551748
GarageYrBlt    5.551748
GarageFinish   5.551748
GarageQual     5.551748
GarageCond     5.551748

Quantitative variables: 
* MasVnrArea: Masonry veneer area in square feet

Qualitative variables: 
* MasVnrType: Masonry veneer type (Brick Common, Brick Face, Cinder Block, Stone, None) => NaN real missing values
* BsmtQual: Evaluates the height of the basement (Excellent, Good, Typical, Fair, Poor, NaN for No Basement) => NaN NOT real missing values
* BsmtCond: Evaluates the general condition of the basement (Excellent, Good, Typical, Fair, Poor, NaN for No Basement) => NaN NOT real missing values
* BsmtExposure : Refers to walkout or garden level walls (Good, Average, Minimum, No Exposure, NaN for No Basement) => NaN are NOT real missing values + why are they more NaN than in BsmtQual and BsmtCond ? 
* BsmtFinType1 : Rating of basement finished area
* BsmtFinType2 : Rating of basement finished area (if multiple types) (Good Living Quarters, Average Living Quarters, Below Average Living Quarters, Average Rec Room, Low Quality, Unfinshed, NaN for No Basement 
* Electrical : 
* GarageType : 
* GarageYrBlt : 
* GarageFinish : 
* GarageQual :
* GarageCond :

#### Dealing with Basement variables

In [288]:
pbBsmt = df_train_v1[df_train_v1['BsmtExposure'].isnull()]['BsmtCond']

In [289]:
pbBsmt.dropna()

948    TA
Name: BsmtCond, dtype: object

The $948^{th}$ row seems to have an input error in it since we have: 
* BsmtExposure = "No Basement" 
* BsmtCondition = TA for "Typical" and not "No Basement"

In [292]:
pbBsmt2 = df_train_v1[df_train_v1['BsmtFinType2'].isnull()]['BsmtCond']

In [293]:
pbBsmt2.dropna()

332    TA
Name: BsmtCond, dtype: object

The $332^{th}$ row seems to have an input error in it since we have: 
* BsmtExposure = "No Basement" 
* BsmtCondition = TA for "Typical" and not "No Basement"

### Script for imputation by the mean of example (LotFrontage)

In [119]:
imp = Imputer(missing_values = "NaN", strategy = "mean", axis = 0)

In [120]:
q = imp.fit_transform(df_train_v1['LotFrontage'].reshape(-1,1))

C:\Users\smhirech\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

In [121]:
df_train_v1['LotFrontage'] = q

In [131]:
#imp_todealwith = imp_todealwith.drop(['LotFrontage'])

### Script Imputation by PCA on test example

Maybe later we will use impution by PCA for quantitative variables, so let us write a script with a test DataFrame. The test DataFrame is composed of two columns with 50 observations each. The first column has 10 missing values. We want to use imputation by PCA, that is to say: 
* First, we impute by the mean 
* We perform a PCA by keeping all the components
* We extract the new values of the former missing values 
* We take the original dataset and replace the missing values by these new values.
* We iterate the last three bullet points till convergence

In [228]:
from sklearn.utils.validation import check_array, check_is_fitted, check_X_y
from sklearn.decomposition import PCA
import random

In [241]:
nb_iter = 10

In [242]:
X = np.random.normal(loc = 50, scale = 2, size = 50)
Y = np.random.normal(loc = 20, scale = 10, size = 50)

In [243]:
test = pd.DataFrame({'X': X, 'Y': Y})

In [244]:
add_na = random.sample(range(0,49),10)
add_na

[0, 12, 22, 7, 14, 36, 6, 42, 18, 26]

In [245]:
test.iloc[add_na,0] = np.nan

In [246]:
test.head()

           X          Y
0        NaN  30.359669
1  50.004923  24.000696
2  48.272068   9.080673
3  51.709883  11.032542
4  48.981082   0.891332

In [247]:
test = check_array(test, dtype=np.float64, force_all_finite=False)
test_nan = np.isnan(test)
most_by_nan = test_nan.sum(axis=0).argsort()[::-1]
imputed = Imputer(strategy='mean').fit_transform(test)
new_imputed = imputed.copy()
estimators_ = [PCA(n_components=int(np.sqrt(min(test.shape))), whiten=True)]
statistics_ = np.ma.getdata(test)
gamma_ = []

In [248]:
for iter in range(nb_iter):
    if len(estimators_) > 1:
        for i in most_by_nan:

            test_s = np.delete(new_imputed, i, 1)
            y_nan = test_nan[:, i]

            test_train = test_s[~y_nan]
            y_train = new_imputed[~y_nan, i]
            test_unk = test_s[y_nan]

            estimator_ = estimators_[i]
            estimator_.fit(test_train, y_train)
            if len(test_unk) > 0:
                new_imputed[y_nan, i] = estimator_.predict(test_unk)

    else:
        estimator_ = estimators_[0]
        estimator_.fit(new_imputed)
        new_imputed[test_nan] = estimator_.inverse_transform(estimator_.transform(new_imputed))[test_nan]

    gamma = ((new_imputed-imputed)**2/(1e-6+new_imputed.var(axis=0))).sum()/(1e-6+test_nan.sum())
    gamma_.append(gamma)
    if np.abs(np.diff(gamma_[-2:])) < 1e-3:
        break

C:\Users\smhirech\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:24: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.

In [249]:
test = pd.DataFrame({'X': X, 'Y': Y})
test.iloc[add_na,0] = np.nan

In [250]:
test = check_array(test, copy=True, dtype=np.float64, force_all_finite=False)
test_nan = np.isnan(test)
imputed = Imputer(strategy='mean').fit_transform(test)

In [251]:
if len(estimators_) > 1:
    for i, estimator_ in enumerate(estimators_):
        test_s = np.delete(imputed, i, 1)
        y_nan = test_nan[:, i]

        test_unk = test_s[y_nan]
        if len(test_unk) > 0:
            test[y_nan, i] = estimator_.predict(test_unk)

else:
    estimator_ = estimators_[0]
    test[test_nan] = estimator_.inverse_transform(estimator_.transform(imputed))[test_nan]

In [257]:
test

array([[49.65456526, 30.3596686 ],
       [50.00492342, 24.00069567],
       [48.272068  ,  9.0806733 ],
       [51.7098834 , 11.0325421 ],
       [48.98108202,  0.89133246],
       [49.84063005, 23.23425096],
       [49.88463481, 18.3859235 ],
       [49.92995485, 16.02728603],
       [48.78818865, 22.07532892],
       [49.81889314, 15.1027889 ],
       [49.59254717, 24.33274382],
       [49.43563226, 25.87719035],
       [49.97657766, 13.60084748],
       [52.388048  , 19.72651318],
       [49.76012498, 24.86591608],
       [52.46702387, 25.03689555],
       [50.27606084, 26.38024564],
       [50.6250354 , 20.71608643],
       [49.95409376, 14.77100013],
       [50.88475875, 14.70533798],
       [49.9188486 ,  8.46252843],
       [49.61381725,  5.2332254 ],
       [49.8111086 , 22.21252342],
       [46.91815147, 17.15612176],
       [49.36656559, 23.60108727],
       [47.66152912, 18.22929748],
       [49.97605438, 13.62808107],
       [49.48014954, 15.82745191],
       [52.53398434, 32.04712028],
       [46.48533108, 25.14769037],
       [52.46569495, 21.51083266],
       [50.68296718,  5.11644845],
       [54.43762751, 10.49203328],
       [49.70187039,  1.98105201],
       [49.49812065, 28.86824143],
       [50.13469325, 16.20987882],
       [49.82265631, 21.61153378],
       [44.97973113, 32.16211852],
       [45.98335979, 23.00272282],
       [52.22260158, 22.32630646],
       [51.24324188,  4.58861388],
       [49.69095337, 29.82528502],
       [50.10613773,  6.85801965],
       [48.54061577,  7.13770198],
       [51.01785845, 13.67513322],
       [49.46884421, 22.0557646 ],
       [48.46496798, 27.12898009],
       [49.23791061, 24.46797753],
       [50.24966847, 23.08602219],
       [51.86308735, 37.13320771]])